{% extends "base.html" %}

{% block content %}

<h1>scan data: <b>{{t_scan_data_car|length}} cars</b>🚗 <button type="button" class="btn btn-warning">Update at {{ date }}</button></h1>

<div class="container-fluid">
{% for scan_data in t_scan_data_car %}
{% if loop.index0 is divisibleby 4 %}
{% if not loop.first %}</div>{% endif %}
<div class="row" style="width:100%;">
{% endif %}
<div class="col-sm-3">
<div class="card text-center text-white bg-info " style="max-width:16rem;">
    <div class="card-header"><span class="text-huge">🚙</span> <b>{{scan_data[3]}}</b></div>
    <div class="card-body"><div {% if scan_data[1] == "public" %} class="font-weight-bold"{%endif%}>{{scan_data[0]}} </div>
    <div>{{scan_data[4]}}</div></div>
</div>
</div>
{% endfor %}
</div>

🚘</div>
{% endblock %}
